Options +FollowSymLinks
Options -Multiviews

RewriteEngine On

RewriteBase /testes/mvc/public/

RewriteCond %{SCRIPT_FILENAME} !-f
RewriteCond %{SCRIPT_FILENAME} !-d

RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]